requests
beautifulsoup4
pandas
nltk
vaderSentiment
spacy
openpyxl
matplotlib
wordcloud
networkx
streamlit
scikit-learn
textblob
pandas  
numpy  
scikit-learn  
nltk  
textblob  
spacy  
requests  
beautifulsoup4  
streamlit  
matplotlib  
wordcloud  
networkx  
openpyxl  
